<a href="https://colab.research.google.com/github/afnan47/Semester-6/blob/main/DSBDA/A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [23,34,45],
        'Gender': ['F', 'M', 'M'],
        'Marks': [89,98,'NaN']
    }

In [4]:
df = pd.DataFrame(data)

In [5]:
df

      Name  Age Gender Marks
0    Alice   23      F    89
1      Bob   34      M    98
2  Charlie   45      M   NaN

In [7]:
n = avg = 0
for mark in df['Marks']:
  if mark is not 'NaN':
    avg += mark
    n += 1
avg /= n
print("The average marks are: ",avg)

The average marks are:  93.5

In [9]:
df.replace('NaN', value = avg)

      Name  Age Gender  Marks
0    Alice   23      F   89.0
1      Bob   34      M   98.0
2  Charlie   45      M   93.5

In [10]:
df['Gender'] = df['Gender'].map({'M' : 0, 'F' : 1}).astype(int)

In [11]:
df

      Name  Age  Gender Marks
0    Alice   23       1    89
1      Bob   34       0    98
2  Charlie   45       0   NaN